<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body style="background-color: rgb(186,236,105)">
    <div class="label">
        <h1>TODO App...</h1>
        <form action="/task" method="post">
        <p><input type="text" name="content"></p>
        <input type="submit" value="Add Task">
        </form>

        <ol>
            {% for row in rows %} <!-- It returns a tupple {id, content, bool}-->
            <li>
                {{ row[1] }}
                <a href="/delete/{{ row[0]}}" >Delete</a>
            </li>
            {% endfor %}
        </ol>



    </div>

</body>
</html>