<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
</head>
<body>
    <h1>
        Todo List
    </h1>
    <div>Add a new todo item: 
        <form action="/add" method="POST">   
            <input type="text" name="todoitem">
            <input type="submit">
        </form> 
    </div>
    <div>
        <ul>
            {% for todo in info_of_row%}
            <li style="font-size: 20pt"><input type="checkbox">{{ todo.text }}</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>